.form-group{
    display: block;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}
.name {
    background-image: linear-gradient(to right, rgba(255,0,0,0), rgba(255,0,0,1));
    font-weight: bold;
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}

.ready {
    border-color: red;
    font-weight: bold;
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}

.ready:hover {
    background-image: linear-gradient(to right, rgba(255,0,0,0), rgba(255,0,0,1));
}
