.form-group{
    display: block;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}
.form-control {
    background-image: linear-gradient(to right, rgba(255,0,0,0), rgba(255,0,0,1));
    font-weight: bold;
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}

.btn {
    border-color: red;
    font-weight: bold;
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}

.btn:hover {
    background-image: linear-gradient(to right, rgba(255,0,0,0), rgba(255,0,0,1));
}

.left, .right {
    width: 40%;
}

.middle {
    font-size: 8px;
    width: 10%;
}

body {
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}

.results, .toxic{
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    display: block;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
}